<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soporte Técnico</title>
    <link rel="stylesheet" type="text/css"
        href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/material-dashboard.css?v=2.1.0">    
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2/dist/email.min.js"></script>

</head>

<body class="dark-edition">
    <div class="content">
        <div class="container">
            <div class="row d-flex justify-content-center" style="margin-top: 20px;">
                <div class="col-md-6">
                    <div class="card ">
                        <div class="card-header card-header-primary text-center" style="margin-bottom: 10px;">
                            <h3 class="card-title mb-2">Recuperación de cuenta</h3>
                            <h4 class="card-category">Colegio Santa Ana</h4>
                        </div>
                        <div class="text-center" style="margin-bottom: 10px; margin-top: -10px;">
                            <img src="assets/img/logoForRP.png">
                        </div>
                        <hr style="border-top: 2px solid rgba(2,87,126, 0.274);"/>
                        <div class="card-body">
                            <form id="frmRecoveryPass" @submit.prevent="sendEmail">
                                <div class="form-group mb-2 dl">
                                    <label class="bmd-label-floating" for="cabecera">Asunto</label>
                                    <input type="text" class="form-control" id="cabecera" name="cabecera"
                                        v-model="cabecera" required>
                                </div>
                                <div class="form-group mb-2 dl">
                                    <label class="bmd-label-floating" for="emlEmisor">Correo de comunicación</label>
                                    <input type="email" class="form-control" id="emlEmisor" name="emlEmisor"
                                        v-model="emlEmisor" required>
                                </div>
                                <div class="form-group mb-2 dl">
                                    <label class="bmd-label-floating" for="message">Mensaje</label>
                                    <input type="text" class="form-control" id="message" name="message"
                                        v-model="message" required>
                                </div>
                                <div class="form-row justify-content-center">
                                    <div class="col-6">
                                        <button type="submit" class="btn btn-block btn-primary" id="btnLogIn">
                                            Enviar
                                        </button>
                                    </div>
                                </div>
                                <div class="form-row justify-content-center">
                                    <div class="col-6 text-center">
                                       mostrar error o por 
                                       <button class="btn btn-primary btn-block" onclick="md.showNotification('bottom','center')">
                                        nofificacion
                                    </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->

    <script src="assets/js/core/jquery.min.js"></script>
    <script src="assets/js/core/popper.min.js"></script>
    <script src="assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
    <script src="assets/js/plugins/bootstrap-notify.js"></script>
    <script src="assets/js/material-dashboard.js"></script>
</body>

</html>